.main {
  width: 100%;
  padding-top: 100px;

  form {
    & > * {
      display: block;
      text-align: center;
    }

    .input {
      margin: 30px auto 0;
      text-align: left;

      &.error{
        border: 1px solid #f00;
      }

      &+ small{
        display: block;
        color: #f00;
        text-align: center;
      }
    }

    button {
      background: #007bff;
      color: #fff;
      padding: 10px;
      width: 180px;
      margin: 10px auto;
    }
  }
}

